#logo{
    max-width:30%;
    max-height:60%;
    }
#add-book{
    margin-right:1000px;
}

.card-img-top{
    max-width:50px;
}
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.card-body{
    border:5px solid red;
    background-color:#5A763Cff;
}
