{%extends'layout.html' %}

{%block button %}
<a href={{url_for('add_book')}}>Add Book</a>

{% endblock %}

{%block content %}
<section>

    <a href="{{url_for('add_book')}}">
        <div>
            <h2>Add a Book</h2>
            <p>Age</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>

                <form action="{{url_for(add_book)}}"metod="POST">
                    <label for="">Name</label>
                    <input  name=type="text">
                </form>
                <


    </a>



</section>
{% endblock %}