{%extends'layout.html' %}



{%block button %}
<a href={{url_for('add_book')}}>Add Book</a>
<a href={{url_for('index')}}>Back</a>

{% endblock %}

{%block content %}
<section id="book-data" class="card">
    <img src="" alt="">
   
        <div id="book-name" class=" row card">
            <img src="" alt="">
            <h2>{{book.book_name}}</h2>}
            <h2>{{ book.number_of_pages }} Pages</h2>
            <h2>Description</h2>
            <p>{{ book.description }}</p>
        </div>
</section>      
<section>
<button><a href="{{ url_for('edit_book',id=book.id) }}">Edit Book</a></button>
<button><a href="{{ url_for('delete_book',id=book.id) }}">Delete Book</a></button>
</section>
{% endblock %}