{%extends'layout.html' %}
   
{%block button %}
a
<button  id="add-book"><a href="{{url_for('add_book')}}">Add Book</a> </button>
   
{% endblock %}

{%block content %}
<section id ="intro" class="bg-info mt-5 ">
    <p >Welcome to my book inventory app. it was initally created with the intention of keeping a record of my current books( Yes, I am a bookworm of sorts) and also keeping track
        of those books I have decided to sell as I no longer have   a need for. I hope you enjoy iy </p> 
</section>
 <section id ='book-cards'>  
    {% for book in books %}
<</p>
       
         <a href="{{ url_for('book',id=book.id) }}">
                <div  class='card'>
                    <img src"{{book.url}}" alt="book.url_tag">
                    <h2> { {book.name }}</h2>
                     <h3>{{ book.date_publshed }}</book></h3>
                     <p>{{ book.description }}</p>
        
   
             
            
            
                </div>
                </a>
                {% endfor %}
</section>
     {% endblock %}


