<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content=" A Collection of nice books"
        ><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta charset="utf-8">
        
       
       
         
        
       <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/index.css">
        
        
         <!-- FontAwesome -->
      
        <script src="https://kit.fontawesome.com/4b64818846.js" crossorigin="anonymous"></script>
        
        <title>Book Inventory App </title>
       
        <link rel="icon" type="image/x-icon" href="/static/favicon.png">



    </head>

    <body >
        <header >
           <a href="{{url_for('index')}}"   >  
               <img id="logo" src="static/1579571462372-removebg-preview.png" alt="app-logo"  class="row "  > </a>
            <a href="{{url_for('index')}}"class="col ">
             <h1 class="text-primary col align-self-center text-danger">Book Inventory App</h1>
            </a>
            
             
            
            {% block button %}

            {% endblock %} 

        </header    >
        <hr>

        {% block content %}
        
        {% endblock %}
        <hr>
        <footer>
            <section>
            </section>    
        </footer>

       

   
    </body>
</html>